<%= @school.name %>
<ul>
    <% @students.each do |student| %>
        <li><%= link_to student.name, student_path(student) %></li>
        <%= button_to "Delete Student", student_path(student), method: :delete %><br>
    <% end %>
</ul>